.moviesList {
  padding: 80px 0px;
  border-top: 1px solid #424242;
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  justify-content: center;
  column-gap: 30px;
  row-gap: 60px;
}

.moviesList__button {
  display: block;
  margin: 0 auto 80px;
  width: 320px;
  height: 36px;
  border-radius: 6px;
  border: 1px solid #424242;
  background-color: transparent;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: white;
}

@media screen and (max-width: 1200px) {
  .moviesList {
    padding: 80px 30px 62px;
    max-width: calc(100% - 60px);
    grid-template-columns: repeat(3, 320px);
  }
}

@media screen and (max-width: 1075px) {
  .moviesList {
    grid-template-columns: repeat(2, 360px);
  }
}

@media screen and (max-width: 800px) {
  .moviesList {
    grid-template-columns: repeat(2, 339px);
    row-gap: 47px;
  }
}

@media screen and (max-width: 767px) {
  .moviesList {
    grid-template-columns: 400px;
  }
}

@media screen and (max-width: 474px) {
  .moviesList {
    grid-template-columns: 300px;
  }

}

@media screen and (max-width: 376px) {
  .moviesList {
    max-width: calc(100% - 28px);
  }

  .moviesList__button {
    width: 240px;
  }
}
