.error-popup {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  position: fixed;
  top: 10px;
  right: 10px;
  max-width: 300px;
  padding: 15px;
  padding-top: 30px;
  text-align: center;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  border-radius: 8px;
  color: black;
  transition: all var(--transition-duration);
  transform: translateY(-200%);
  z-index: 100;
}

.error-popup_visible {
  transform: translateY(0);
}

.error-popup__close {
  display: block;
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
