.aboutMe {
  padding: 110px 0px;
}

.aboutMe__title {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  margin: 0;
  margin-bottom: 23px;
}

.aboutMe__info {
  padding-top: 66px;
  border-top: 1px solid white;
  display: flex;
  justify-content: space-between;
}

.aboutMe__text {
  display: flex;
  flex-direction: column;
}

.aboutMe__name {
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 116%;
  letter-spacing: -2px;
  margin: 0;
  margin-bottom: 18px;
}

.aboutMe__profession {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 111.111%;
  margin: 0;
  margin-bottom: 26px;
}

.aboutMe__about {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 157.143%;
  margin: 0;
  margin-bottom: 99px;
  max-width: 600px;
}

.aboutMe__photo {
  width: 270px;
  height: 327px;
  object-fit: cover;
}

@media screen and (max-width: 1200px) {
  .aboutMe {
    padding: 90px 50px;
  }

  .aboutMe__info {
    column-gap: 49px;
  }
}

@media screen and (max-width:1024px) {
  .aboutMe__photo {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 768px) {
  .aboutMe__about {
    font-size: 12px;
  }

  .aboutMe__profession {
    font-size: 12px;
    margin-bottom: 20px;
  }

  .aboutMe__name {
    font-size: 40px;
  }
}

@media screen and (max-width: 650px) {
  .aboutMe {
    padding: 75px 30px;
  }
}

@media screen and (max-width: 500px) {
  .aboutMe {
    padding: 70px 14px;
  }

  .aboutMe__info {
    flex-wrap: wrap;
    align-items: center;
    row-gap: 40px;
  }

  .aboutMe__photo {
    order: -1;
    width: 100%;
    height: 351px;
    object-fit: cover;
  }

  .aboutMe__about {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 375px) {
  .aboutMe__name {
    font-size: 30px;
    letter-spacing: -1.2px;
    margin-bottom: 20px;
  }

  .aboutMe__profession {
    font-size: 11px;
    line-height: 145.455%;
  }

  .aboutMe__about {
    font-size: 11px;
    line-height: 145.455%;
  }
}
